@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #150050;
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: #3f0071;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 20px;
  width: 350px;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 12px 10px;
  font-size: 18px;
  letter-spacing: 1px;
  height: 50px;
  width: 100%;
}

.result-container span {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  border-radius: 3px;
}

.btn {
  background-color: #610094;
  color: #f0f0f0;
  border: none;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.btn:focus {
  outline: none;
}

.btn-large {
  display: inline-block;
  width: 100%;
}

.result-container .btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
