@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1rem;
  color: #222;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 5px 40px rgba(0, 0, 0, 0.1);
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.2rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #eeeeee;
  height: 150px;
  width: 150px;
}

.user-info {
  margin-left: 2rem;
  color: #191a19;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #191a19;
  background-color: #eeeeee;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
