@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #525bd6;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 10px 0 20px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.container {
  width: 500px;
}

textarea {
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 100px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 20px;
}

textarea:focus {
  outline: none;
}

.tag {
  display: inline-block;
  background-color: #ff7d41;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 5px 10px;
  font-size: 14px;
}

.tag.highlight {
  background-color: #04083c;
}
