@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
}

h3 {
  margin-bottom: 8px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1.2px;
}

small {
  display: block;
  margin-bottom: 20px;
}

.fa-heart {
  color: red;
}

.loveImg {
  height: 440px;
  width: 300px;
  background: url("https://images.unsplash.com/photo-1493357237429-1debade6bfe1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"),
    no-repeat center center/cover;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loveImg .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
