@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --primary-color: #03071e;
  --secondary-color: #001233;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.search::placeholder {
  color: #b1a7a6;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.movie img {
  width: 100%;
  border-radius: 3px 3px 0;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info span {
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 0.5rem 0.25rem;
  font-weight: bold;
}

.movie-info span.green {
  color: #8cb369;
}

.movie-info span.orange {
  color: #f4a259;
}

.movie-info span.red {
  color: #bc4b51;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.5s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
