@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(70deg, #b6c9f0, #b56576);
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  height: 50px;
}

.search-input {
  font-family: inherit;
  padding: 15px;
  border: none;
  height: 50px;
  width: 50px;
  opacity: 0.8;
  transition: width 0.3s ease;
  border-radius: 3px;
}

.search-input:focus {
  opacity: 1;
}

.search-input:focus,
.btn:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 24px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3 ease;
  border-radius: 3px;
}

.search.active .search-input {
  width: 200px;
  border-radius: 3px 0px 0px 3px;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0px 3px 3px 0px;
}

.search.active .btn i {
  transform: rotate(80deg);
  transition: transform 0.3s ease;
}
